* {
    font-family: IDFVoyageur;
    font-weight: normal;
    margin:  0;
    font-size: 16px;
    color: #163767;
}

body {
    padding: 2% 5% 5% 5%;
}

@font-face {
    font-family: IDFVoyageur;
    src: url(fonts/IDFVoyageur-Regular.otf);
  }
  
  @font-face {
    font-family: IDFVoyageur-bold;
    src: url(fonts/IDFVoyageur-Bold.otf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: IDFVoyageur-medium;
    src: url(fonts/IDFVoyageur-Medium.otf);
    font-weight: 50;
  }
  
footer {
    background-color: #163767;
    color: white;
    height: 22%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("img/exclamation.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer img#indice_ligne {
    vertical-align: middle;
    width: 8%;
    padding: 1%;
    padding-left: 3%;
}

footer p {
    margin-left: 20px;
    color: white;
    font-size: 1.7vw;
    width: 85%;
}

.infotrafic {
    display: flex;
    justify-content: flex-start;
    margin-left: 75px;
}

.heure {
    width: 14%;
    display: flex;
    justify-content: flex-start;
}

h3.time {
    color: white;
    font-size: 1.7vw;
    vertical-align: middle;
}

h2 {
    color: #163767;
    font-size: 2vw;
    font-weight: bold;
    font-family: IDFVoyageur-bold;
}

.affichage {
    display: block;
}


.ligne {
    display: inline-block;
    width: 15%;
    text-align: center;
    vertical-align: top;
}

.ligne img#indice_ligne {
    display: block;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.destination {
    display: inline-block;
    width: 40%;
    text-align: center;
    height: 100%;
}

.panel {
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    height: auto;
}

.destination .panel {
    background-color: #163767;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.temps .panel {
    background-color: #D9D9D9;
    color: #163767;
    width: 150px;
    display: inline-block;
    margin: 0px 4px 0px 4px;
}

.destination .panel p {
    color: white;
    font-size: 1.8vw;
    font-family: IDFVoyageur-bold;
}

.temps .panel p {
    color: #163767;;
    font-size: 1.8vw;
    font-family: IDFVoyageur-bold;
}

.temps {
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 100%;
}

.trafic {
    display: inline-block;
    width: 14%;
    text-align: center;
    height: 100%;
    vertical-align: top;
}

.trafic img.status {
    width: 82px;
    display: block;
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.line {
    margin-top: 70px;
}


.panel#bus p {
    vertical-align: middle;
}

.ligne img#indice_bus {
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-left: 5%;
}

.panel#bus {
    background-color: #163767;
    color: white;
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
    margin-left: 5%;
    padding: 2.5%;
}

.tempsbus {
    background-color: #D9D9D9;
    display: inline-table;
    padding: 2.5%;
    width: 10%;
    border-radius: 10%;
    font-size: 1.5vw;
    font-family: IDFVoyageur-bold;
    text-align: center;
    vertical-align: top;
}

.bus {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bus#one {
    justify-content: left;
}

.bus#two {
    justify-content: right;
}

.indicebus {
    width: auto;
    margin-left: 5%;
}

.left {
    width: 70%;
}

.max-bus {
    width: 49%;
    display: inline-block;
}

.block {
    display: block;
}



.vwrap, .vslide {
    box-sizing: border-box;
    width: 90%;
    height: 100px;
  }
   
  .vwrap {

    overflow: hidden; 
  }
   

  .vmove {
    position: relative;
    bottom: 0%;
  }
   
  .vslide { padding: 20px; }
  

  @keyframes slidev {

    0% { bottom: 0; }
    30% { bottom: 0; }
    33% { bottom: 100%; }
    63% { bottom: 100%; }
    66% { bottom: 100%; }
    97% { bottom: 100%; }
    100% { right: 0; }
  }
  .vmove { animation: slidev linear 15s infinite; }
